.contCarousel
{display:flex;
align-items: center;}

.accordion-header {
    padding: 50px 100px 0px 130px;
    margin-bottom: 30px;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
    color: #ff0404;
    text-align: left;
    background-color: #ff00001f;}