.map{ background-image: linear-gradient( white, rgb(255, 0, 0),);
    display: flex;
    justify-items: center;
    padding: 10vh;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.textMap{
    
    margin: 0 auto;
    font-size: 4vh;
    font-family: fantasy;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.textMap:hover{transform: scale(2);}