.card-title {
    margin-bottom: .5rem;
    color: black;
    font-size: 15vh;
    font-family: fantasy;
}
.card-text{
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}